BASE_DOMAIN=
SSL_EMAIL=
TIMEZONE=

POSTGRES_USER=
POSTGRES_PASS=

N8N_DB=

EVOLUTION_DB=
EVOLUTION_APIKEY=
EVOLUTION_WSP_VERSION=

WORDPRESS_DB_NAME=
WORDPRESS_DB_USER=
WORDPRESS_DB_PASS=

BW_DB_PROVIDER=
BW_DB_SERVER=
BW_DB_DATABASE=
BW_DB_USERNAME=
BW_DB_PASSWORD=

# PAGENT_MESSAGE_LENGTH=300
# PAGENT_API_URL=https://agent.base.domain
# PAGENT_AGENT_NAME=Patrict AI
